<section>
    <div id="particles-js">
    </div>
    <div class="container-fluid blog py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5 mt-5" style="max-width: 900px;">
                <h1 class="mb-4">¡Evalua tus prácticas y servicio social!</h1>
                <p class="mb-0">Hablanos de tu experiencia en organizaciones al realziar tu prácticas en la profesión y srevicio social.
                </p>
            </div>
            <div class="mx-auto text-left mb-5 mt-5" style="max-width: 900px;">
                <h3 class="mb-4">Encuentra la organización</h3>
                <div class="search-container">
                    <input type="text" id="searchBox" class="search-box" placeholder="Search..." [(ngModel)]="searchText">
                    <button class="search-button" (click)="search()">Buscar</button>
                </div>
            </div>
            <a class="mt-4 text-center"  href=""><p>Ver lista de todas las organizaciones registradas.</p></a>
        </div>
    </div>
    <!-- Blog End -->
</section>
